<div class="row">
  <div  class="large-12 columns entryarea">
    <div  class="large-12 columns boxhighlight">
      <!--
      <div class="entrybox date large-2 columns">{{view Ember.TextField valueBinding="date"}}</div>
      <div class="entrybox project large-3 columns">{{view Ember.TextField valueBinding="project"}}</div>
      <div class="entrybox entry large-7 columns">{{view Ember.TextField valueBinding="entry"}}</div>
      -->
      <span class="large-2 columns entrybox">{{view Ember.TextField valueBinding="date" action="addEntry"}}</span>
      <span class="large-3 columns entrybox">{{view Ember.TextField valueBinding="project" action="addEntry"}}</span>
      <span class="large-7 columns entrybox">{{view Ember.TextField valueBinding="entry" action="addEntry"}}</span>
    </div>
  </div>

  <div class="entries large-12 columns">
    <ul class="entries list">
      {{#each controller}}
      <li>
      <span class="time">{{ time }}</span>
      <span class="project">{{ project }}</span>
      <span class="description">{{ description }}</span>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
